.enquirylocation{
    display: flex;  
}
.generalenquiry{
   flex: 1;
    width: 35%;    
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid; */
    border-radius: 15px;
    text-align: cente
}
.location{
    flex: 1;
    width: 35%;    
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid;
    border-radius: 15px;
    text-align: cente
}
h3{
    text-align: center;
}

