.footer{
    display: flex;
    height: 150px;
    background-color: rgb(162, 153, 153);
}
.footercolumn1 {
    width: 33.3%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.footercolumn2{
    width: 33.3%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.footercolumn3{
    width: 33.3%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.bottombar {
    height: 30px;
    background-color: rgb(162, 153, 153);
    text-align: center;
}