body{
    margin: 0;
  }
/* banner */
/* banner for homepage */
.banner {
    background-image: url("../images/pictures/background_images/beach.jpg");
    height: 80vh;
    margin: 0;
    border: none;
    padding-top: 1px;
    flex: 1;
    }
/* banner for about us */
    .banneraboutus {
        background-image: url("../images/pictures/background_images/banners/banneraboutus.jpg");
        height: 50vh;
        margin: 0;
        border: none;
        padding-top: 1px;
        flex: 1;
        }
/* banner for product */
.bannerproduct {
    background-image: url("../images/pictures/background_images/banners/bannerproduct.jpg");
    height: 50vh;
    margin: 0;
    border: none;
    padding-top: 1px;
    flex: 1;
    }
    .bannercontact {
        background-image: url("../images/pictures/background_images/banners/bannerbeach.jpg");
        height: 50vh;
        margin: 0;
        border: none;
        padding-top: 1px;
        flex: 1;
        }
    /* navigation */
    .navigation {
      margin: 10px;
      float: right;
      text-align: center;
      text-indent: 3em;
      padding: 10px;
    }
    /* unordered lists in navigation */
    ul{
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float: left;
    }
    /* list items in a ref (href) */
    li a {
      display: block;
      color: black;
      text-align: center;
      text-decoration: none;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      color:black;
    }
    /* hover */
    li a:hover {
      color: grey;
      background-color: rgb(68, 68, 90);
      border-radius: 20px;
    }
    .sub-menu-1{
      display: none;
  }
  .navigation ul li:hover .sub-menu-1 {
      display: block;
      position: absolute;
      background-color:rgb(33, 33, 135) ;
      margin-top: 15px;
      margin-left: 15px;
  }