/* body */

/* heading 1 */
    h1{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      /* coreinfo */
      .coreinfo {
        text-align:center;
      }
      /* all paragraphs */
      p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      /* button */
      button{
        
        border-radius: 20px;
        background-color: rgb(175, 178, 141);     
      }
    /* a */
      a {
        text-decoration: none;
        color: black;
      }
      /* heading 3 */
      h3 {
        color: rgb(50, 23, 95);
        font-family:cursive
      }