* body{
  margin: 0;
}

/* start of the navigation menu */
li {
  color: white;
}
      h2 {text-align: center;}
.row {
      display: flex; 
    }
    /* logo css */
    .logo {
       /* additionally, equal width */
      padding: 1em;
      margin: 0px;
      float: left;
      width: 40%;
      background-color:rgba(8, 46, 123, 0.775);
      
    }  

    /* start of the navigation menu */
    .navigation {
      flex: 1; /* additionally, equal width */
      padding: 1em;
      margin: 0px;
      float: right;
      text-align: center;
      text-indent: 3em;
      background-color: rgba(8, 46, 123, 0.775);
    }  

    /* Navigation for the unordered list-CSS */
    ul {
      list-style-type:none;
      margin: 0;
      padding: 0;
      overflow: hidden;           
    }

    /* list item CSS */
    li {
      float: left;
      
    }
    /* CSS for the a tag in the list item */
    li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  background-color: rgba(8, 46, 123, 0.775);
  color: white;
}

/* End of navigation CSS */

 /* styling for the breadcrumbs */
 .breadcrumbnav {
  list-style: none;
  text-align: center;
  background-image: url(images/pictures/About\ us.jpg) ;
  height: 70vh
}

/* End of breadcrumb*/

/* Social media icons CSS */
    .socialmedia {
      flex: 1;
      padding: 1em;
      margin: 10px;
      float: right;
    }  

    /*rows and columns for Mission, Vision and Core values */
      .row {
      display: flex; /*  */
    }
    .mission {
      flex: 1; /* additionally, equal width */
      padding: 1em;
      border: solid;
      margin: 10px;
    }   
    .vision {
      flex: 1; /* additionally, equal width */
      padding: 1em;
      border: solid;
      margin: 10px;
      }   
    .corevalues {
      flex: 1; /* additionally, equal width */
      padding: 1em;
      border: solid;
      margin: 10px;
      } 
/* End of the rows and columns for Mission, Vision and Core values */